:host {
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: rgba(255, 255, 255, 0.2);

        input {
            width: 95%;
        }
    }
}